<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info-Debug.plist
   Runner

   Created by greymag on 21.09.2021.
   Copyright (c) 2021 . All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
